// process execution configurations
process {
    withLabel: 'local' {
        executor = 'local'
    }
    withLabel:'cpushort' {
        executor = 'slurm'
        clusterOptions = '--partition "cpushort"'
    }
}
process.executor = {
    name = 'slurm'
    queueSize = 200
}
process.clusterOptions = '--partition "cpu"'

conda.enabled = true
conda.useMamba = true
report.overwrite = true
workflow.failOnIgnore = true
params.repoPath = "/data1/choderaj/paynea/asapdiscovery-sars-retrospective/"
params.dataPath = "/data1/choderaj/paynea/asap-datasets/full_cross_dock"
params.curatedFragalysis = "${params.dataPath}/mpro_fragalysis-04-01-24_curated"
params.fragalysisCache = "${params.dataPath}/mpro_fragalysis-04-01-24_curated_cache"
params.fixedFragalysisCache = "mpro_fragalysis-04-01-24_curated_cache_fixed"
params.ligandFiles = "${params.dataPath}/ligand_files"
params.ligandFile3d = "combined_3d.sdf"
params.ligandFile2d = "combined_2d.sdf"
params.split3dligandFiles = "split_3d"
params.split2dligandFiles = "split_2d"
params.dockedFiles = "${params.dataPath}/docked_files"
params.chemicalSimilarityData = "${params.dataPath}/chemical_similarity_data"
params.projectDir = "${params.repoPath}/science/20250414_p_and_x_full_cross_dock"
params.scripts = "${params.projectDir}/scripts"
params.loopDB = "/data1/choderaj/asap-playground/rcsb_spruce.loop_db"

// Conda Envs
params.asap = "/home/paynea/miniforge3/envs/asap2025e"
params.harbor = "/home/paynea/miniforge3/envs/harbor"

// Add the name of the process as a string and it will turn off caching for that process
// this is actually not currently implemented
params.restart_from = null

// Flags
params.take = 300
params.numPoses = 1