// process execution configurations
process {
    withLabel: 'local' {
        executor = 'local'
    }
    withLabel:'cpushort' {
        executor = 'slurm'
        clusterOptions = '--partition "cpushort"'
    }
}
executor {
    name = 'slurm'
    queueSize = 500
}
process.clusterOptions = '--partition "cpu"'

conda.enabled = true
conda.useMamba = true
report.overwrite = true
workflow.failOnIgnore = true

// core paths
params.repoPath = "/data1/choderaj/paynea/asapdiscovery-sars-retrospective/"
params.projectDir = "${params.repoPath}/science/20250414_p_and_x_full_cross_dock"
params.scripts = "${params.projectDir}/scripts"
params.configFiles = "${params.projectDir}/config_files"

// docking params
params.loopDB = "/data1/choderaj/asap-playground/rcsb_spruce.loop_db"
params.dataPath = "/data1/choderaj/paynea/asap-datasets/full_cross_dock"
params.curatedFragalysis = "${params.dataPath}/mpro_fragalysis-04-01-24_curated"
params.fragalysisCache = "${params.dataPath}/mpro_fragalysis-04-01-24_curated_cache"
params.fixedFragalysisCache = "mpro_fragalysis-04-01-24_curated_cache_fixed"
params.fixedFragalysisCachePath = "${params.dataPath}/${params.fixedFragalysisCache}"
params.ligandFiles = "${params.dataPath}/ligand_files"
params.ligandFile3d = "combined_3d.sdf"
params.ligandFile2d = "combined_2d.sdf"
params.split3dligandFiles = "split_3d"
params.split2dligandFiles = "split_2d"
params.dockedFiles = "${params.dataPath}/docked_files"

// chemical similarity params
params.chemicalSimilarityData = "${params.dataPath}/chemical_similarity_data"
params.combinedChemicalSimilarityPath = "${params.chemicalSimilarityData}/combined_chemical_similarity_data.csv"
params.scaffoldDataName = "bemis_murcko_clustering"
params.genericScaffoldPath = "${params.chemicalSimilarityData}/${params.scaffoldDataName}/generic_cluster_labels.csv"
params.dateDictPath = "${params.dataPath}/cmpd_date_dict/date_dict.json"

// combined docking results params
params.dockedLigandRMSDs = "${params.dataPath}/docked_ligand_rmsds"
params.combinedDockingResultsName = "combined_docking_results"
params.combinedDockingResultsPath = "${params.dataPath}/${params.combinedDockingResultsName}"

// docking results files
params.all_no_sim = "${params.combinedDockingResultsPath}/ALL_combined_results_no_chemical_similarity.csv"
params.all_sim = "${params.combinedDockingResultsPath}/ALL_combined_results.csv"
params.fred_no_sim = "${params.combinedDockingResultsPath}/FRED_combined_results_no_chemical_similarity.csv"
params.fred_sim = "${params.combinedDockingResultsPath}/FRED_combined_results.csv"

// settings files
params.datesplit_settings = "${params.configFiles}/settings_cross_docking_defaults.yml"
params.multipose_settings = "${params.configFiles}/settings_multipose_split.yml"
params.settings_scaffold_split_not_x_to_x = "${params.configFiles}/settings_scaffold_split_not_x_to_x.yml"
params.settings_scaffold_split_x_to_not_x = "${params.configFiles}/settings_scaffold_split_x_to_not_x.yml"
params.settings_scaffold_split_x_to_y = "${params.configFiles}/settings_scaffold_split_x_to_y.yaml"
params.settings_similarity_split_tanimotocombo = "${params.configFiles}/settings_similarity_split_tanimotocombo.yml"
params.settings_similarity_split_ecfp = "${params.configFiles}/settings_similarity_split_ecfp.yml"
params.settings_similarity_split_mcs = "${params.configFiles}/settings_similarity_split_mcs.yml"

// evaluation params
params.evaluationResults = "${params.dataPath}/analyzed_results"
params.datesplitPositResults = "${params.evaluationResults}/datesplit_posit_combined_results.csv"

// figure params
params.figuresPath = "${params.dataPath}/figures"

// Conda Envs
params.asap = "/home/paynea/miniforge3/envs/asap2025e"
params.harbor = "/home/paynea/miniforge3/envs/harbor"

// Add the name of the process as a string and it will turn off caching for that process
// this is actually not currently implemented
params.restart_from = null

// Flags
params.take = -1
params.numPoses = 1
params.K = 4 // Number of evaluations to run in parallel per task